body,
html {
  margin: 0;
  background-color: black;
}

#loading-screen {
  background-color: #292b2c;
  color: white;
  height: 100%;
  text-align: center;
  width: 100%;
}

#loading-screen:before {
  content: 'Loading...';
}

#game {
  background-color: #F5F5F6;
  text-align: center;
}

#menu,
#play-mode,
td {
  align-items: center;
  justify-content: center;
  height: 100%;
}

#board {
  background-color: #7b1fa2;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  background-color: #0075d8;
  color: white;
  display: inline-block;
  height: 124px;
  line-height: 124px;
  width: 184px;
  /* 184px = 200px - (margin-left + margin-right) * 2 */
  margin: 8px;
  cursor: pointer;
}

.card-type-adder {
  background-color: #F5F5F6;
  height: 40px;
  line-height: 40px;
  text-align: left;
  vertical-align: middle;
}

.action:nth-child(even) {
  background-color: #ddd;
}

.add,
.take-out {
  background-color: #0075d8;
  border-radius: 13px;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  margin: 7px;
  width: 26px;
  text-align: center;
  float: right;
}

.add:before {
  content: '+';
}

.take-out:before {
  content: '-';
}

.confirm:before {
  content: 'Confirm';
}

#formation-editor {
  align-content: center;
}

.unit-type {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  border: 2px solid white;
  cursor: pointer;
}